body{
    margin: auto;
    padding: 0;
    background-color: rgb(238, 247, 255);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 95%;
    width: 70%;
}

.contentImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}

.img{
    height: 90%;
}

.img1{
    position: relative;
    bottom:10px;
    left: 90px;
    height: 95%;
    z-index: 1;
}

.img2{
    position: relative;
    right: 90px;
    top: 10px;
    height: 95%;
    z-index: 2;
}

.contentInput{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width:60%;
    text-align: center;
}

.contentInputLogin{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 70%;
    border: 1px solid rgba(0,0,0, 0.5);
    background-color: white;
}

.ContentImgTitlnsta{
    height: 10%;
    margin: 30px 0;
}

.contentInputBlockInputs{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    height: 40%;
    width: 100%;
}

.contentInputBlockInputs input{
    border-radius: 6px;
    height: 30%;
    width: 80%;
    margin: 1px 0;
    border:1px solid rgba(0,0,0, 0.2) ;
    background-color: rgb(241, 249, 248);
}

.contentInputBlockInputs input::-webkit-input-placeholder{
    padding: 5px;
}

.contentInputBlockInputs button{
    height: 25%;
    width: 80%;
    margin: 5px 0;
    border: rgba(0,0,0, 0.2);
    border-radius: 5px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: rgba(0,149,246,.3);
    opacity: 1;
}

.ContainerLineOr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
}

.ContainerLineOr span{
    text-align: center;
    font-size: 25px;
    color: rgba(0,0,0, 0.4);
}

.lineOr{
    width: 140px;
    border: 1px solid rgba(0,0,0, 0.3);
    margin: 20px 25px;
}

.ContainerImgLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.ContainerImgLogin img{
    height: 15px;
    margin: 10px ;
    border-radius: 10px;
}

.ContainerImgLogin p{
    font-weight: 600;
    color: rgb(8, 36, 160);
}

.ForgetPassword{
    margin: 20px 0;
    color: rgba(0,0,0,0.7);
    font-size: 13px;
}

.ContainerCreateAccount{/*--------------------------------*/
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0, 0.5);
    width: 70%;
    height: 10%;
    background-color: white;
}

.ContainerCreateAccount span{
    color: rgb(56, 150, 218);
    font-weight: 600;
}


/*responsividade*/
@media(max-width:873px) {

    .contentImg{
        display: none;
    }

    .contentInput{
        width: auto;
    }
}

@media(max-width:400px){
    body{
        background-color: white;
    }

    .contentImg{
        display: none;
    }

    .content{
        width: auto;
    }

    .contentInput{
        width: 100%;
    }

    .contentInputLogin{
        border: none;
    }

    .ContainerCreateAccount{
        border: none;
    }
}
